/* Estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Bold;
}

body {
  font-size: 16px;
  position: relative;
  font-weight: bold;
}

/* Imagen de fondo */
.background__image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/Img.1.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* Cabecera con logo */
.menu__header {
  padding: 1rem;
  background: #5d3ca6;
  color: white;
}

.header__content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.site__logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.menu__link {
  color: #34495e;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.menu__header h1 {
  font-size: clamp(1.5rem, 4vw, 3.5rem);
  line-height: 1.3;
  margin: 0;
  font-weight: 500;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
/*barra amarilla */
.container__prueba {
  background: rgb(243, 190, 16);
  padding: 0.4rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  word-spacing: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer institucional */
.inam__footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5d3ca6;
  color: white;
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 0.85rem;
}

/* Submenu*/
nav ul li ul {
  width: 250px;
  display: flex;
  flex-direction: column;
  background: #d9d9d9;
  position: absolute;
  top: 50px;
  left: 0px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 5;
  transition: all 30ms ease;
}

nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
}

nav ul li ul:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #d9d9d9;
  position: absolute;
  top: -12px;
  left: 20px;
}

nav ul li ul li a {
  display: block;
  color: black;
  padding: 6px;
  margin-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
}

nav ul li ul li a:hover {
  background: #5d3ca6;
  color: white;
  transform: scale(1);
  padding-left: 25px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1200px) {
  nav > ul > li > a:hover {
    transform: scale(1);
  }

  nav ul li ul {
    left: 90px;
  }

  nav > ul > li:hover ul {
    top: 50px;
  }

  #label__check {
    display: block;
  }
}

/*Login principal de navegacion*/
/* VARIABLES CSS */
:root {
  --header-height: 3.5rem;

  /*========== Colores ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(131, 37%, 21%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: #d9d9d9;
  --container-color: hsl(0, 100%, 98%);
  --border-color: hsl(256, 63%, 74%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Roboto", Bold;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsividad en la tipografia ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  position: relative;
  height: 100vh;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, 0.1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}

.search__close,
.login__close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.nav__container {
  position: relative;
  width: 100%;
  padding: 1rem;
  margin: 0%;
  display: flex;
  background: #ece9e9;
  align-items: center;
  column-gap: 15rem;
}
/*corregido hasta aca nav--container*/
.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search,
.nav__login,
.nav__toggle,
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color 0.4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== SEARCH ===============*/
.search__form {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  padding-inline: 1rem;
  border-radius: 0.5rem;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search__input::placeholder {
  color: var(--text-color);
}

/* Show search */
.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__form {
  transform: translateY(0);
}

/*=============== LOGIN ===============*/
.login__form,
.login__group {
  display: grid;
}

.login__form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}

.login__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login__group {
  row-gap: 1rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.login__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-color);
}

.login__input::placeholder {
  color: var(--text-color);
}

.login__signup {
  margin-bottom: 0.5rem;
}

.login__signup a {
  color: var(--first-color);
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: box-shadow 0.4s;
}

.login__button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, 0.4);
}

/* Show login */
.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login__form {
  transform: translateY(0);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }

  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search__close,
  .login__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}

/*Contenido general de la vista principal*/
:root {
  --black: #1b1722;
  --white: #f0f0f0;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/VistaPrin.png) no-repeat;
  background-size: cover;
  background-position: center center;
  border-bottom: 2rem double #5d3ca6;
  border-top: 5px double #5d3ca6;
}
.home .home__Content {
  width: 40%;
  float: left;
  text-align: center;
  padding: 3rem;
}
.home .home__Content h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 4rem;
  color: black;
  align-items: center;
  justify-content: center;
  text-shadow: var(--box-shadow);
}
.home .home__Content p {
  font-size: 1.5rem;
  line-height: 2;
  align-items: center;
  text-align: left;
  padding: 1.5rem;
}

section {
  padding: 2rem;
}

/*Contenido de la vista de autoridades*/
.container__autoridad {
  background-color: #fff;
  width: 100%;
  background-size: cover;
  background-position: center center;
  border-bottom: 15px double #5d3ca6;
  border-top: 15px double #5d3ca6;
  margin-top: .5px;
  border-style: groove;
  flex-wrap: wrap;
  flex-direction: column;
}
.container__autoridad .autoridad__slide {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--white);
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  
}
.container__autoridad .autoridad__slide .img {
  height: 70%;
  width: 40%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.container__autoridad .autoridad__slide .img img {
  width: 50%;
  padding: 1rem;
}
.container__autoridad .autoridad__slide .content {
  flex: 1 1 45rem;
 
}
.container__autoridad .autoridad__slide .content h3 {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--black);
  text-shadow: var(--box-shadow);
  display: flex;
  font-size: 1.5rem;
  box-shadow: var(--box-shadow);
 
}
.container__autoridad .autoridad__slide .content p {
  font-size: 1.3rem;
  line-height: 1;
  color: var(--black);
  margin-top: 10px;
}
.container__autoridad .autoridad__slide .content p:hover {
  color: var(--black);
  text-shadow: var(--box-shadow);
}
.container__autoridad .autoridad__slide .content a {
  font-size: 2rem;
  cursor: pointer;
}
.container__autoridad .autoridad__slide .content a:hover {
  color: var(--black);
  text-shadow: var(--box-shadow);
}

/*Aqui comienza el diseño de la vista de identidad*/
.container__identidad {
  background-color: #fff;
  width: 100%;
  background-size: cover;
  background-position: center center;
  border-bottom: 15px double #5d3ca6;
  border-top: 15px double #5d3ca6;
  margin-top: 2.5px;
  border-style: groove;
  flex-wrap: wrap;
  flex-direction: column;
}
.heading {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--black);
  justify-content: center;
  background-color: #5d3ca6;
  width: 100%;  
}

.heading h2 {
  font-size: 1rem;
  color: var(--black);
  box-shadow: var(--black);
  background-color: rgb(243, 190, 16);
}

.vision__container {
  display: flex;
  margin: auto;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;

}
.container__identidad .box {
  display: flex;
  flex-direction: column;
  width: 18rem;
  background-color: var(--white);
  text-align: center;
  padding: 1rem;
  gap: 1.5rem;
  border-radius: 2rem;
  margin-right: 2rem;
}
.container__identidad .box .img img {
  height: 100%;
  width: 90%;
  justify-content: center;
  display: flex;
}
.container__identidad .box .img img:hover {
  transform: scale(1);
}
.container__identidad .box .content {
  margin-bottom: 2rem;
}


.container__identidad .box .person__review h3 {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--black);
  text-shadow: var(--box-shadow);
  display: flex;
  font-size: 1.5rem;
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;

}
.vision__container .box .content p {
  font-size: 1.3rem;
  line-height: 1.6;
  color: var(--black);
  margin-top: 10px;
}

/*Aqui empieza el contenido de mision y vision*/
.container__mision {
  width: 100%;
  background-size: cover;
  background-position: center center;
  border-bottom: 10px double #5d3ca6;
  border-top: 10px double #5d3ca6;
  margin-top: 1.5px;
  border-style: groove;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #ece9e9;
  
}
.container__mision .vision__container {
  display: flex;
  margin: auto;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container__mision .vision__container .box {
  display: grid;
  flex-direction: column;
  width: 40%;
  background-color: var(--white);
  text-align: center;
  padding: 1rem;
  gap: 2.5rem;
  border-radius: 2rem;
  margin-right: 2rem;
  box-shadow: var(--box-shadow);

}

.container__mision .vision__container .box .person__review {
  margin-bottom: 3rem;
  justify-content: center;
  display: grid;
  flex-direction: column;
  align-items: center;
}

.container__mision .vision__container .box .person__review h2 {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-size: 3rem;
  display: flex;
  font-size: 2.5rem;
  box-shadow: var(--box-shadow);

}
.container__mision .vision__container .box .person__review p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 20px;
}

.container__mision .vision__container .box .client-info {
  display: flex;
  align-items: center;
}

/*Aqui comienza el diseño de la vista de actividades*/
/*Aqui comienza el diseño de la vista de identidad*/
.container__actividades {
  background-color: #fff;
  width: 100%;
  background-size: cover;
  background-position: center center;
  border-bottom: 15px double #5d3ca6;
  border-top: 15px double #5d3ca6;
  margin-top: 2.5px;
  border-style: groove;
  flex-wrap: wrap;
  flex-direction: column;
}
.heading {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--black);
  justify-content: center;
  background-color: #5d3ca6;
  width: 100%;  
}

.heading h2 {
  font-size: 1rem;
  color: var(--black);
  box-shadow: var(--black);
  background-color: rgb(243, 190, 16);
}

.vision__container {
  display: flex;
  margin: auto;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;

}
.container__actividades .box {
  display: flex;
  flex-direction: column;
  width: 16rem;
  background-color: var(--white);
  text-align: center;
  padding: 1rem;
  gap: 1.5rem;
  border-radius: 2rem;
  margin-right: 2rem;
}
.container__actividades .box .img img {
  height: 100%;
  width: 90%;
  justify-content: center;
  display: flex;
}
.container__actividades .box .img img:hover {
  transform: scale(1);
}
.container__actividades .box .content {
  margin-bottom: 2rem;
}


.container__actividades .box .person__review h3 {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--black);
  text-shadow: var(--box-shadow);
  display: flex;
  font-size: 1.5rem;
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;

}
.vision__container .box .content p {
  font-size: 1.3rem;
  line-height: 1.6;
  color: var(--black);
  margin-top: 10px;
}


/*Aqui comienza el footer*/
.footer {
  background: url(images/VistaFond.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
.footer .box__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  padding: 1rem 1rem;
}
.footer .box__container .main__Box .content {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.footer .box__container .main__Box .content h1 {
  font-size: 2rem;
  color: var(--black);
}
.footer .box__container .main__Box p {
  font-size: 2.5rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}
.footer .box__container .box h3 {
  font-size: 2.2rem;
  color: var(--black);
}
.footer .box__container .box a {
  display: block;
  font-size: 1.3rem;
  color: var(--black);
  padding: 1rem 0;
}
.footer .box__container .box a i {
  padding-right: .5rem;
  color: var(--black);
}
.footer .box__container .box a:hover i {
  padding-right: 2rem;
}

.footer .share {
  padding: 1rem 0;
  text-align: center;
}
.footer .share a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  color: var(--white);
  background: var(--black);
  margin: 0 .3rem;
  border-radius: 50%;
}
.footer .share a:hover {
  background: var(--white);
  color: var(--black);
}
.footer .credit {
  font-size: 2rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
  color: var(--black);
  text-align: center;
  
}


/* media queries for web responsive */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.3rem 3rem;
    }
    .home .homeContent{
        margin-left: 0;
        width: 80%;
    }
}

@media (max-width:768px) {
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 25rem;
        background-color: var(--white);
        height: 80vh;
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        
        font-size: 2rem;
        color: black;
        margin: 1.5rem;
    }
    .heading{
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--black);
        justify-content: center;
        background-color: #8160c8;
        width: 100%;
    }

    .home .homeContent{
        margin-left: 0;
        width: 90%;
    }

@media (max-width:600px){
    html{
        font-size: 50%;
    }
}